{% extends 'layout.html' %}

{% block content %}

<div class="whiteback1">
</div>


<div class="box1">
  <h4>혜택</h4><hr width="1150px" align="left">
  <div class="benefit"><div class="Room"></div>
  <div class="benefit-box">혜택</div>
  <a id="benefit1" href="/room" class="benefit-text">방탈출 개봉박두!</a>
</div>

    <div class="benefit"><div class="Car"></div>    
    <div class="benefit-box">혜택</div>
  <a id="benefit2" href="/car" class="benefit-text">차가 공짜라고?!</a>
</div>

    <div class="benefit"><div class="Fifa"></div>
    <div class="benefit-box">혜택</div>
  <a id="benefit3" href="/fifa" class="benefit-text">피파 실력 비결은?</a>
</div>
  <div class="benefit"><div class="Travel"></div>
    <div class="benefit-box">혜택</div>
    <a id="benefit4" href="/travel" class="benefit-text">여행 이용권 증정!</a>
</div>

{% endblock %}
