{% extends 'layout.html' %}


{% block script %}

<div class="whiteback1">
</div>

<div class="whiteb3"></div>

<div class="whitebb3"></div>


<div class="topuser">{{'안녕하세요'+" " +user.nick+ " "+ '고객님'}}</div>

<div class="topuser2">Top Club만의 품격 높은 서비스로 초대합니다.</div>

<div class="banner">
    
</div>

<div class="black">
</div>

<a id="black1" href="/black" class="black1">HeeDaeCard  Blackcard</a>

<div class="platinum">
</div>
<a id="p1" href="/pla" class="p1">HeeDaeCard Pletinum</a>





{% endblock %}